@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
/* font-family: 'Kanit', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
primary-->kanit
secondary--> Source sans pro
*/

/* colors: #f6f6f6,#ffe2e2,#ffc7c7, #aaaaaa */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
/* navigation bar style */
