@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,100&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
#aboutPic img {
  width: 100%;
  height: 50%;
  padding: 5px;
  display: flex;
}
#infoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
} */

#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2%;
}

/* contact page css */
#col-lg-6,
.col-log-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: auto auto;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.contact-form .form-group .form-control {
  background-color: #f4f7fc;
  height: 50px;
  border: none;
  padding: 0 20px;
}

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.submit-btn {
  display: inline-block;
  padding: 15px 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact-info-list .single-contact-info {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.contact-info-list .single-contact-info .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  margin-right: 20px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contact-info-list .single-contact-info .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.contact-info-list .single-contact-info .content .title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.contact-info-list .single-contact-info .content .details {
  display: block;
}
/* .icon {
  display: flex;
  justify-content: flex-start;
}
.contact {
  display: flex;
  justify-content: flex-start;
} */
div {
  display: block;
}
li {
  display: flex;
  text-align: -webkit-match-parent;
}
form {
  display: block;
  margin-top: 0em;
}
